h1{
    color: green !important;
}

.new-class{
    background-color: black;
    color: white;
}

.password-show{
    background-color: rgb(102, 7, 7);
    color: white;
}

.form-control{
    background-color: rgb(102, 7, 7);
    color: white;
    all: unset;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.24);
    line-height: 1.5rem;
    font-size: 15px;
    padding: 10px;
}